# Environment
- GPU : NVIDIA GeForce RTX 3070
- CPU : 12th Gen Intel(R) Core(TM) i5-12600K

## Library version check

In [2]:
import sys
import sktime
import tqdm as tq
import xgboost as xgb
import matplotlib
import seaborn as sns
import sklearn as skl
import pandas as pd
import numpy as np
from pandas import Timestamp
from datetime import datetime
from datetime import timedelta
print("-------------------------- Python & library version --------------------------")
print("Python version: {}".format(sys.version))
print("pandas version: {}".format(pd.__version__))
print("numpy version: {}".format(np.__version__))
print("matplotlib version: {}".format(matplotlib.__version__))
print("tqdm version: {}".format(tq.__version__))
print("sktime version: {}".format(sktime.__version__))
print("xgboost version: {}".format(xgb.__version__))
print("seaborn version: {}".format(sns.__version__))
print("scikit-learn version: {}".format(skl.__version__))
print("------------------------------------------------------------------------------")

-------------------------- Python & library version --------------------------
Python version: 3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]
pandas version: 2.1.2
numpy version: 1.23.5
matplotlib version: 3.5.2
tqdm version: 4.65.0
sktime version: 0.20.1
xgboost version: 1.7.6
seaborn version: 0.11.2
scikit-learn version: 1.0.2
------------------------------------------------------------------------------

In [3]:
import matplotlib.pyplot as plt
#ì‹œê°í™” ì„¤ì •
plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 15
# ì‚¬ìš©ì ìš´ì˜ì²´ì œ í™•ì¸
import os
os.name

# ìš´ì˜ì²´ì œë³„ í•œê¸€ í°íŠ¸ ì„¤ì •
if os.name == 'posix': # Mac í™˜ê²½ í°íŠ¸ ì„¤ì •
    plt.rc('font', family='AppleGothic')
elif os.name == 'nt': # Windows í™˜ê²½ í°íŠ¸ ì„¤ì •
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # ë§ˆì´ë„ˆìŠ¤ í°íŠ¸ ì„¤ì •


# ê¸€ì”¨ ì„ ëª…í•˜ê²Œ ì¶œë ¥í•˜ëŠ” ì„¤ì •
%config InlineBackend.figure_format = 'retina'

## 0. load the libararies

In [4]:
import pickle

In [5]:
import bisect
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import StratifiedKFold , KFold
import matplotlib.pyplot as plt
from tqdm import tqdm
from xgboost import XGBRegressor
import warnings

pd.set_option('display.max_columns', 200)

# í›„ì²˜ë¦¬ ë°©í–¥

train dataì˜ ë‚ ì”¨ ì»¬ëŸ¼ì´ ë„ì°©ê¸°ì¤€ ì˜ˆë³´ë‚ ì§œì´ê¸° ë•Œë¬¸ì— ì´ë¥¼ í†µí•´ ì–´ëŠì •ë„ ë‚ ì”¨ì˜ ì •ë³´ë¥¼ ì´ìš©í•´ ë„ì°© ì˜ˆìƒ ë‚ ì§œë¥¼ ì˜ˆì¸¡í•  ìˆ˜ ìˆë‹¤.  
Dacon ì¸¡ì—ì„œ trainì— í•´ë‹¹í•˜ëŠ” ë°ì´í„° ëª¨ë‘ ì¶”ë¡ ì‹œì ì—ì„œ ì´ë¯¸ ë‹¤ ì•Œê³ ìˆë‹¤ëŠ” ê°€ì •í•˜ì— ì§„í–‰í•˜ì˜€ìœ¼ë¯€ë¡œ testê°€ ì–´ë–¤ ê²ƒì´ ë“¤ì–´ì˜¤ëŠ” ëª¨ë“  dataë¥¼ ì‚¬ìš©ê°€ëŠ¥í•˜ë‹¤.

train dataì—ì„œ ATAì— targetê°’ì¸ CI_HOUR ë¥¼ ë”í•´ bert_date ì¦‰ ë„ì°©í–ˆì„ ë•Œì˜ ì‹œì ì„ ë§Œë“¤ê³  ë‚˜ë¼, í•­êµ¬, ë‚ ì”¨ì •ë³´ë“¤ì„ í†µí•´ ë„ì°©ì˜ˆìƒ ë‚ ì§œë“¤ì„  train ê¸°ë°˜ìœ¼ë¡œ ìƒì„±í•˜ê³  ì´ë¥¼ testì— mergeí•œ í›„ í•´ë‹¹ testì˜ ataì— ë”°ë¼ trainì—ì„œ ì–»ì€ ì •ë³´ ì¤‘ì— ì‚¬ìš©í•  trainë°ì´í„°ë¥¼ ì„ ì •í•´ í™œìš©í•˜ëŠ” ë°©ì‹.

train dataë¥¼ í†µí•´ ì–»ì€ ì •ë³´ë¥¼ testì— mergeí•˜ëŠ” ê³¼ì • = data_leakage ê°€ ì•„ë‹ˆë‹¤. testì‹œì ì€ trainì´ ëª¨ë‘ ì¼ì–´ë‚œ í›„ë¡œ ë³¸ ëŒ€íšŒì—ì„œ ì •ì˜.  
testì—ì„œ test ì •ë³´ì— ë”°ë¼ ìœ„ì˜ ì •ë³´ë¥¼ ì„ ì •í•˜ëŠ” ê³¼ì • = data_leakage ê°€ ì•„ë‹ˆë‹¤. testê°€ ì–´ë–¤ ë°©ì‹ìœ¼ë¡œ ë“¤ì–´ì˜¤ë“  ì²˜ë¦¬ê°€ ê°€ëŠ¥í•˜ê³ , test ë‚´ì—ì„œì˜ ì—´ì—°ì‚° ì´ê¸° ë•Œë¬¸ì— ê°€ëŠ¥í•˜ë‹¤.

train dataì—ì„œ bert_dateë¥¼ ë§Œë“¤ë•Œ ìµœëŒ€ ê°’ê³¼ ìµœì†Œ ê°’ì„ ë¹„êµí•˜ì—¬ ì´ê°€ 240 ì¦‰ 10ì¼ ì´ìƒ ì°¨ì´ë‚  ê²½ìš° í‰ê· ì„ ì‚¬ìš©í•˜ëŠ” ë°ì— ìœ„í—˜ë¶€ë‹´ì´ ìˆê¸° ë•Œë¬¸ì— minê°’ë§Œì„ ì‚¬ìš©í•˜ê³  diffê°€ 240ë³´ë‹¤ ì‘ë‹¤ë©´ meanê°’ì„ ì‚¬ìš©í•œë‹¤.

## 1. Load Data

In [6]:
train = pd.read_csv('../data/train.csv')#.drop(columns=['SAMPLE_ID'])
test = pd.read_csv('../data/test.csv')#.drop(columns=['SAMPLE_ID'])

In [7]:
submission = pd.read_csv('../submission/sample_submission.csv')#.drop(columns=['SAMPLE_ID'])

nullê°’ì´ ì—†ëŠ” ë°ì´í„°ë§Œ ì„ íƒ. air_temp ê°€ nanì¸ ê°’ë„ ì˜ë¯¸ê°€ ìˆë‹¤ê³  íŒë‹¨í•´ ì²˜ë¦¬í•˜ì§€ ì•ŠìŒ.

In [8]:
train_weather = train[train['U_WIND'].notnull()].copy()
test_weather = test[test['U_WIND'].notnull()].copy()

In [9]:
train_weather['ATA'] = pd.to_datetime(train_weather['ATA'])  # 'ATA' ì—´ì„ ë‚ ì§œ ë° ì‹œê°„ í˜•ì‹ìœ¼ë¡œ ë³€í™˜
train_weather['bert_date'] = train_weather['ATA'] + pd.to_timedelta(train_weather['CI_HOUR'], unit="hours")
train_weather['bert_date_date'] = train_weather['bert_date'].dt.floor('D').astype('str')
train_weather['bert_year'] = train_weather['bert_date'].dt.year
train_weather['bert_month'] = train_weather['bert_date'].dt.month
train_weather['bert_day'] = train_weather['bert_date'].dt.day
train_weather['bert_hour'] = train_weather['bert_date'].dt.hour
train_weather['bert_minute'] = train_weather['bert_date'].dt.minute

In [10]:
train_weather['check_bert'] = train_weather['ARI_CO'].astype(str) + '_' + train_weather['ARI_PO'].astype(str) + '_' + train_weather['U_WIND'].astype(str) + '_' + train_weather['V_WIND'].astype(str) + '_' + train_weather['AIR_TEMPERATURE'].astype(str) + '_' + train_weather['BN'].astype(str)
test_weather['check_bert'] = test_weather['ARI_CO'].astype(str) + '_' + test_weather['ARI_PO'].astype(str) + '_' + test_weather['U_WIND'].astype(str) + '_' + test_weather['V_WIND'].astype(str) + '_' + test_weather['AIR_TEMPERATURE'].astype(str) + '_' + test_weather['BN'].astype(str)

In [11]:
Check_Bert = pd.DataFrame(train_weather.groupby('check_bert')['bert_date'].max()).reset_index()

In [12]:
Check_Bert.columns = ['check_bert', 'max_ata']

In [13]:
tmp = pd.DataFrame(train_weather.groupby('check_bert')['bert_date'].min()).reset_index()
tmp.columns = ['check_bert', 'min_ata']
Check_Bert = Check_Bert.merge(tmp, on='check_bert')

In [14]:
tmp = pd.DataFrame(train_weather.groupby('check_bert')['bert_date'].count()).reset_index()
tmp.columns = ['check_bert', 'count_ata']
Check_Bert = Check_Bert.merge(tmp, on='check_bert')

In [15]:
Check_Bert['diff_ata'] = (Check_Bert['max_ata'] - Check_Bert['min_ata']).dt.total_seconds()/ 3600

***

ìœ„ì—ì„œ ì •ì˜í–ˆë˜ 240 ì¦‰ 10ì¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë¶„ë¦¬ ë° ë”°ë¡œ ì²˜ë¦¬

In [16]:
Check_Bert_under10 = Check_Bert[Check_Bert['diff_ata'] < 240].copy()

In [17]:
Check_Bert_over10 = Check_Bert[Check_Bert['diff_ata'] >= 240].copy()

***

# ğŸˆğŸ˜¶ under 10 ì²˜ë¦¬

diffê°€ ì ë‹¤ë©´ meanì„ í™œìš©í•¨ì´ ìœ ë¦¬í•˜ë‹¤ê³  íŒë‹¨.  
trainì—ì„œ ì–»ì€ bert_dateë“¤ ì¤‘ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ í‰ê· ì¹˜ë¥¼ ì‚¬ìš©.

In [18]:
Check_Bert_under10 = Check_Bert_under10.copy()
Check_Bert_under10['max_ata_seconds'] = (Check_Bert_under10['max_ata'] - pd.Timestamp(0)).dt.total_seconds()
Check_Bert_under10['min_ata_seconds'] = (Check_Bert_under10['min_ata'] - pd.Timestamp(0)).dt.total_seconds()
Check_Bert_under10['avg_ata_seconds'] = (Check_Bert_under10['max_ata_seconds'] + Check_Bert_under10['min_ata_seconds']) / 2
Check_Bert_under10['bert_date'] = pd.Timestamp(0) + pd.to_timedelta(np.array(Check_Bert_under10['avg_ata_seconds']), unit='s')

In [19]:
test_weather_under10 = test_weather.merge(Check_Bert_under10[['check_bert','bert_date']], on='check_bert', how='left')

In [20]:
test_weather_under10 = test_weather_under10[test_weather_under10['bert_date'].notnull()]

In [21]:
len(test_weather_under10)

63774

In [22]:
test_weather_under10['ATA'] = pd.to_datetime(test_weather_under10['ATA'])
test_weather_under10['real_ata_date'] = pd.to_datetime(test_weather_under10['ATA']).dt.floor('D')
test_weather_under10['bert_ata_date'] = pd.to_datetime(test_weather_under10['bert_date']).dt.floor('D')
test_weather_under10['real_ata_seconds'] = (test_weather_under10['ATA'] - pd.Timestamp(0)).dt.total_seconds() / 3600
test_weather_under10['bert_ata_seconds'] = (test_weather_under10['bert_date'] - pd.Timestamp(0)).dt.total_seconds() / 3600

ì˜ˆì¸¡í•œ bert_dateê°€ testì‹œì ì˜ ata_dateë³´ë‹¤ ì´ì „ì´ë©´ í›„ì²˜ë¦¬ ì œì™¸.  
trainì—ì„œ ì–»ì€ ì •ë³´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ testì—ì„œë„ targetê°’ì´ trainì˜ target.maxë¥¼ ë„˜ì§€ ì•Šì„ ê²ƒì´ë¼ê³  íŒë‹¨í•˜ì—¬ ì œì™¸.

In [23]:
test_weather_under10 = test_weather_under10[test_weather_under10['real_ata_date'] <= test_weather_under10['bert_ata_date']]

In [24]:
train['CI_HOUR'].max()

2159.130556

In [25]:
test_weather_under10 = test_weather_under10[test_weather_under10['bert_ata_seconds'] <= (test_weather_under10['real_ata_seconds']+2159.130556)]

In [26]:
test_weather_under10['CI_HOUR'] = test_weather_under10['bert_ata_seconds'] - test_weather_under10['real_ata_seconds']

In [27]:
test_weather_under10.loc[test_weather_under10['CI_HOUR'] < 0, 'CI_HOUR'] = 0
test_weather_under10.loc[test_weather_under10['DIST'] == 0, 'CI_HOUR'] = 0

***

# (â—'â—¡'â—) ì—¬ê¸°ì— submissionì„ ë„£ìœ¼ì„¸ìš”.

In [28]:
submission = pd.read_csv('../submission/sample_submission.csv')

In [30]:
sub_jun = pd.read_csv('../submission/lgbm_seed_ensem.csv')
sub_woo = pd.read_csv('../submission/final_sub_woo.csv')

ë‘ê°œì˜ ëª¨ë¸ì„ 7ëŒ€3 ìœ¼ë¡œ ì‚°ìˆ í‰ê·  ì•™ìƒë¸” ì§„í–‰

In [31]:
submission['CI_HOUR'] = (0.7 * sub_jun['CI_HOUR']) + (0.3 * sub_woo['CI_HOUR'])

In [32]:
submission.describe()

             CI_HOUR
count  220491.000000
mean       38.638491
std        71.825083
min         0.000000
25%         0.000000
50%        16.419769
75%        52.885908
max      1788.245121

test_weather_under10 ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” rowë§Œ submissionì—ì„œ í›„ì²˜ë¦¬ ì§„í–‰

In [33]:
submission.loc[submission['SAMPLE_ID'].isin(test_weather_under10['SAMPLE_ID']), 'CI_HOUR'] = test_weather_under10['CI_HOUR'].tolist()

In [34]:
submission.describe()

             CI_HOUR
count  220491.000000
mean       46.442501
std       115.220445
min         0.000000
25%         0.000000
50%        13.301085
75%        53.002307
max      2154.033056

***

# ğŸˆğŸ˜¶ over 10 ì²˜ë¦¬

í•´ë‹¹í•˜ëŠ” trainì˜ bert rowë“¤ì„ bert_lstì— ì €ì¥

diffê°€ í¬ë‹¤ë©´ min ê°’ì„ í™œìš©í•¨ì´ ìœ ë¦¬í•˜ë‹¤ê³  íŒë‹¨.  
trainì—ì„œ ì–»ì€ bert_dateë“¤ ì¤‘ ìµœì†Œê°’ì˜ í‰ê· ì¹˜ë¥¼ ì‚¬ìš©.

In [35]:
Check_Bert_over10['bert_lst'] = None
bert_lst_accumulator = []

for i in tqdm(range(len(Check_Bert_over10))):
    check_b = Check_Bert_over10.iloc[i,0]
    tmp = train_weather[train_weather['check_bert'] == check_b]
    bert_lst_accumulator.append(tmp['bert_date'].tolist())

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1287/1287 [00:11<00:00, 111.74it/s]

In [36]:
Check_Bert_over10['bert_lst'] = bert_lst_accumulator

bert_lstì— ìœ„ì—ì„œ ì´ì•¼ê¸° í–ˆë˜ trainì˜ bert_dateë“¤ì´ ë“¤ì–´ìˆìŒ.  
ì´í›„ testì— merge

In [37]:
test_weather_over10 = test_weather.merge(Check_Bert_over10[['check_bert','bert_lst']], on='check_bert', how='left')

In [38]:
test_weather_over10 = test_weather_over10[test_weather_over10['bert_lst'].notnull()].copy()

In [39]:
len(test_weather_over10)

4122

***

test ì†ì˜ í–‰ì— ì¡°ê±´ì„ ê±¸ì–´ test ì†ì—ì„œ ì—´ ì—°ì‚°ì„ í†µí•´ effective_bert_lst ìƒì„±.  
(ì¡°ê±´ : test['ATA'] ê°€ bertê°’(ì—¬ê¸°ì„œì˜ bertê°’ì€ testì†ì— ìˆëŠ” ì»¬ëŸ¼)ë³´ë‹¤ ì‘ê±°ë‚˜ ê°™ê³  í¬ê¸°ì°¨ì´ê°€ train['CI_HOUR'].max()ë³´ë‹¤ í¬ì§€ ì•Šì„ê²ƒ)

In [40]:
test_weather_over10['effective_bert_lst'] = None

In [41]:
test_weather_over10['ATA'] = pd.to_datetime(test_weather_over10['ATA'])

In [42]:
effective_bert_lst_accumulator = []

for i in tqdm(range(len(test_weather_over10))):
    real_ata = test_weather_over10.iloc[i, 5]
    bt_lst = test_weather_over10.iloc[i,23]
    
    tmp_lst = []
    
    for j in bt_lst:
        comp_ata = pd.to_datetime(j)
        
        real_ata_date = real_ata.floor('D')
        bert_ata_date = comp_ata.floor('D')
        real_ata_seconds = (real_ata - pd.Timestamp(0)).total_seconds() / 3600
        bert_ata_seconds = (comp_ata - pd.Timestamp(0)).total_seconds() / 3600
        
        if real_ata_date <= bert_ata_date:
            if bert_ata_seconds <= (real_ata_seconds+2159.130556):
                tmp_lst.append(comp_ata)
        
    effective_bert_lst_accumulator.append(tmp_lst)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4122/4122 [00:06<00:00, 610.28it/s]

In [43]:
test_weather_over10['effective_bert_lst'] = effective_bert_lst_accumulator

***

effective_bert_lst ì˜ í¬ê¸°ê°€ 0ì´ë¼ë©´ ì´ìƒí•œ ê°’ë“¤ ë°–ì— ì—†ëŠ” ê²ƒ ì´ê¸° ë•Œë¬¸ì— í›„ì²˜ë¦¬ì—ì„œ ì œì™¸

In [44]:
test_weather_over10 = test_weather_over10[test_weather_over10['effective_bert_lst'].apply(lambda x: len(x) != 0)].copy()

In [45]:
test_weather_over10['bert_date'] = None

minê°’ë§Œ ì‚¬ìš©.

In [46]:
for i in tqdm(range(len(test_weather_over10))):
    ata_lst = test_weather_over10.iloc[i, 24]
    avg_sum = 0
#     avg_sum += (max(ata_lst) - Timestamp(0)).total_seconds()
    avg_sum += (min(ata_lst) - Timestamp(0)).total_seconds()
    avg_sum = avg_sum #/2
    average_timestamp = Timestamp(0) + timedelta(seconds=avg_sum)
    test_weather_over10.iloc[i,25] = average_timestamp

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3879/3879 [00:00<00:00, 16648.13it/s]

In [47]:
test_weather_over10['bert_date'] = pd.to_datetime(test_weather_over10['bert_date'])

In [48]:
test_weather_over10['real_ata_seconds'] = (test_weather_over10['ATA'] - pd.Timestamp(0)).dt.total_seconds() / 3600
test_weather_over10['bert_ata_seconds'] = (test_weather_over10['bert_date'] - pd.Timestamp(0)).dt.total_seconds() / 3600

In [49]:
test_weather_over10['CI_HOUR'] = test_weather_over10['bert_ata_seconds'] - test_weather_over10['real_ata_seconds']

In [50]:
test_weather_over10.loc[test_weather_over10['CI_HOUR'] < 0, 'CI_HOUR'] = 0
test_weather_over10.loc[test_weather_over10['DIST'] == 0, 'CI_HOUR'] = 0

***

In [51]:
submission.describe()

             CI_HOUR
count  220491.000000
mean       46.442501
std       115.220445
min         0.000000
25%         0.000000
50%        13.301085
75%        53.002307
max      2154.033056

test_weather_over10 ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” rowë§Œ submissionì—ì„œ í›„ì²˜ë¦¬ ì§„í–‰

In [52]:
submission.loc[submission['SAMPLE_ID'].isin(test_weather_over10['SAMPLE_ID']), 'CI_HOUR'] = test_weather_over10['CI_HOUR'].tolist()

In [53]:
submission.describe()

             CI_HOUR
count  220491.000000
mean       47.242550
std       118.696355
min         0.000000
25%         0.000000
50%        13.172348
75%        53.140983
max      2154.033056

In [54]:
submission.to_csv('../submission/FINAL_7_3_afterprocessing.csv', index = False)

***
***